// Custom styles.
// 主页文章添加阴影效果
.site-meta {
    background :#333333;
}
body { background:url(/images/bj.png);}
body{
    text-shadow: 0px 0px 1px rgba(0,0,0,0.22);
}
.pr{
   height: 25px;
   margin: 20px auto;
   border: 0;
   background: url(/images/pr.png);
   background-repeat: no-repeat;
   background-position:center;
}
